.sighting-button {
  border-radius: 50% 0% 90% 0%;
  padding: 5% 18% 8% 10%;
  background-color: #3E7379;
  border: none;
  /* text-decoration: none; */
  /* margin-bottom: 2%; */
};

#addABirdNav {
  padding-bottom: 0%;
}

#birdr {
  color: #3E7379 !important;
  font-family: 'Garamond';
  font-size: 32px;
};

#Navbar {
  color: white;
};

.sightingNavItem {
  margin-top: 2px;
  /* padding-top: 5%; */

};

.weather-modal {
  width: fit-content;
};

.nav-button {
  text-decoration: none;
  color: yellow;
}


/* a:link {
  text-decoration: none;
  color: white; */
  /* font-size: 14px; */
/* }; */

/* a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
} */

.custom-modal-style {
  width: fit-content;
  background: transparent;
  border: none;
};

.expanded-image {
  width: 100px;
  height: 1%;
};

#add-a-bird {
  font-family: 'AmaticSC';
};
