.sighting-button {
  border-radius: 50% 0% 90% 0%;
  padding: 5% 18% 8% 10%;
  background-color: blue;
  border: none;
  margin-bottom: 5%;
};


#addABirdNav {
  padding-bottom: 0%;
}

#birdr {
  color: blue !important;
  font-family: 'Garamond';
  font-size: 32px;
};

#Navbar {
  color: white;
}

.sightingNavItem {
  margin-top: 5%;
  padding-top: 5%;

}

.custom-modal-style {
  width: fit-content;
}
